<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.web.workflow.mapper.ViewEnableMapper">

  <resultMap id="BaseResultMap" type="com.koron.web.workflow.bean.ViewEnableBean">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="app_content" jdbcType="VARCHAR" property="appContent" />
    <result column="bill_date" jdbcType="VARCHAR" property="billDate" />
    <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
    <result column="staffunName" jdbcType="VARCHAR" property="staffunName" />
    <result column="apptype" jdbcType="INTEGER" property="apptype" />
    <result column="procInstName" jdbcType="VARCHAR" property="procInstName" />
    <result column="procInstType" jdbcType="VARCHAR" property="procInstType" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
  </resultMap>

  <resultMap id="TaskListVo" type="com.koron.web.workflowUtils.bean.TaskListVo">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="app_content" jdbcType="VARCHAR" property="appContent" />
    <result column="bill_date" jdbcType="VARCHAR" property="billDate" />
    <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
    <result column="staffunName" jdbcType="VARCHAR" property="staffunName" />
    <result column="procInstName" jdbcType="VARCHAR" property="procInstName" />
    <result column="procInstType" jdbcType="VARCHAR" property="procInstType" />
  </resultMap>

  <select id="queryList" parameterType="com.koron.web.workflow.bean.ViewEnableQueryBean" resultMap="BaseResultMap">
    select view_enable.*,tblstaffun.name as staffunName
    from view_enable
    left join tblstaffun on tblstaffun.code=view_enable.employee_id
    where 1=1
    <if test="beginDate  != null and beginDate != ''">
      and DATE_FORMAT( bill_date, '%Y-%m-%d') >= DATE_FORMAT(#{beginDate}, '%Y-%m-%d')
    </if>
    <if test="endDate != null and endDate != ''">
      and DATE_FORMAT( bill_date, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
    </if>
    <if test="orderNo != null and orderNo !=''">
      and view_enable.order_no like CONCAT('%', #{orderNo}, '%')
    </if>
    <if test="procInstName != null and procInstName !=''">
      and view_enable.procInstName like CONCAT('%', #{procInstName}, '%')
    </if>
    <if test="orderNo != null and orderNo !=''">
      and view_enable.procInstType like CONCAT('%', #{procInstType}, '%')
    </if>
    <if test="appContent != null and appContent !=''">
      and view_enable.app_content like CONCAT('%', #{appContent}, '%')
    </if>
    <if test="staffunName != null and staffunName !=''">
      and tblstaffun.name like CONCAT('%', #{staffunName}, '%')
    </if>
  </select>

  <select id="getviewdraft" parameterType="com.koron.web.workflow.bean.ViewEnableQueryBean" resultMap="TaskListVo">
    select view_draft.*,tblstaffun.name as staffunName
    from view_draft
    left join tblstaffun on tblstaffun.code=view_draft.employee_id
    where 1=1
    <if test="beginDate  != null and beginDate != ''">
      and DATE_FORMAT( bill_date, '%Y-%m-%d') >= DATE_FORMAT(#{beginDate}, '%Y-%m-%d')
    </if>
    <if test="endDate != null and endDate != ''">
      and DATE_FORMAT( bill_date, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
    </if>
    <if test="orderNo != null and orderNo !=''">
      and view_draft.order_no like CONCAT('%', #{orderNo}, '%')
    </if>
    <if test="procInstName != null and procInstName !=''">
      and view_draft.procInstName like CONCAT('%', #{procInstName}, '%')
    </if>
    <if test="orderNo != null and orderNo !=''">
      and view_draft.procInstType like CONCAT('%', #{procInstType}, '%')
    </if>
    <if test="appContent != null and appContent !=''">
      and view_draft.app_content like CONCAT('%', #{appContent}, '%')
    </if>
    <if test="staffunName != null and staffunName !=''">
      and tblstaffun.name like CONCAT('%', #{staffunName}, '%')
    </if>
    <if test="employeeId != null and employeeId !=''">
      and view_draft.employee_id = #{employeeId}
    </if>
  </select>


</mapper>