<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koron.web.asset.assetportiondet.AssetPortionDetMapper">

  <resultMap id="BaseResultMap" type="com.koron.web.asset.assetportiondet.bean.AssetPortionDetBean">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="f_ref" jdbcType="VARCHAR" property="fRef" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="assets_number" jdbcType="VARCHAR" property="assetsNumber" />
    <result column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="bill_date" jdbcType="VARCHAR" property="billDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_account" jdbcType="VARCHAR" property="createAccount" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_account" jdbcType="VARCHAR" property="updateAccount" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="assetTypeName" jdbcType="VARCHAR" property="assetTypeName" />
    <result column="staffunName" jdbcType="VARCHAR" property="staffunName" />
    <result column="portionBillNo" jdbcType="VARCHAR" property="portionBillNo" />
    <result column="goodsModel" jdbcType="VARCHAR" property="goodsModel" />
    <result column="assetsStatus" jdbcType="VARCHAR" property="assetsStatus" />
  </resultMap>

  <sql id="listCondition">
    <where>
      1=1
      <if test="assetsNumber !=null and assetsNumber !='' "> and det.assets_number like CONCAT('%', #{assetsNumber}, '%')</if>
      <if test="empId        !=null and empId        !='' "> and det.emp_id        =#{empId        }</if>
      <if test="billDate     !=null and billDate     !='' "> and det.bill_date =#{billDate     }</if>
      <if test="fRef         !=null and fRef         != ''"> and f_ref = #{fRef} </if>
    </where>
  </sql>

  <select id="queryList" parameterType="com.koron.web.asset.assetportiondet.bean.AssetPortionDetQueryBean" resultMap="BaseResultMap">
    select  p.portion_bill_no as portionBillNo,type.typeName as assetTypeName,t.goods_model as goodsModel,s.name as staffunName,t.assets_status as assetsStatus,det.*
    <!--<include refid="Base_Column_List" />-->
    from asset_portion_det det
    left join asset_portion p on p.id=det.f_ref
    left join assets t on t.id=det.source_id
    left join asset_type type on type.id=t.asset_type_id
    left join tblstaffun s on s.code=det.emp_id
    <include refid="listCondition"></include>
    order by det.bill_date desc
  </select>

  <sql id="Base_Column_List">
    id, orgId, f_ref, source_id, assets_number, emp_id, bill_date, create_time, create_account, 
    create_name, update_time, update_account, update_name, remark
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select  p.portion_bill_no as portionBillNo,type.typeName as assetTypeName,t.goods_model as goodsModel,s.name as staffunName,t.assets_status as assetsStatus,det.*
    <!--<include refid="Base_Column_List" />-->
    from asset_portion_det det
    left join asset_portion p on p.id=det.f_ref
    left join assets t on t.id=det.source_id
    left join asset_type type on type.id=t.asset_type_id
    left join tblstaffun s on s.code=det.emp_id
    where det.id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from asset_portion_det
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.koron.web.asset.assetportiondet.bean.AssetPortionDetBean" useGeneratedKeys="true">
    insert into asset_portion_det
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgid != null">
        orgId,
      </if>
      <if test="fRef != null">
        f_ref,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="assetsNumber != null">
        assets_number,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="billDate != null">
        bill_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createAccount != null">
        create_account,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateAccount != null">
        update_account,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="fRef != null">
        #{fRef,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="assetsNumber != null">
        #{assetsNumber,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="billDate != null">
        #{billDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAccount != null">
        #{createAccount,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAccount != null">
        #{updateAccount,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.koron.web.asset.assetportiondet.bean.AssetPortionDetBean">
    update asset_portion_det
    <set>
      <if test="orgid != null">
        orgId = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="fRef != null">
        f_ref = #{fRef,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="assetsNumber != null">
        assets_number = #{assetsNumber,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="billDate != null">
        bill_date = #{billDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAccount != null">
        create_account = #{createAccount,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAccount != null">
        update_account = #{updateAccount,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>